
<p>Admin page for list of patients (maybe route shoudl be renamed). From here an admin can:
	<ul>
		<li> Add/Remove Patients (may need subroute for details???).</li>
		<li> Maybe have an option to see history, by jumpinf to history page with filter for patient.</li>
		<li> Status if patient has a booking for the date. (Waiting Visit, Visit Done, Visit Cancelled, Visit Declined)</li>
		<li> It will be nice to be able to start a request from here. It will take the admin to the generate request page with patient already populated</li>
	</ul>
</p>