<h2>History</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Patient</th>
      <th scope="col">Scheduled Date</th>
      <th scope="col">Address</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark Otto</td>
      <td>10/21/2018</td>
      <td>123 Test Street</td>
      <td>Pending</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Jake Jones</td>
      <td>10/21/2018</td>
      <td>123 Demo Street</td>
      <td>Pending</td>
    </tr>
  </tbody>
</table>