<p>
	Admin page for list of providers. From here:
	<ul>
		<li> A provider can be added/removed.</li>
		<li> A provider request to become a valid provider can be accepted. (Similar to creating a provider but details are pre-populated).</li>
		<li> A provder status can be seen. Combined Status (Online/Offline) and (Available, not Available)</li>
		<li> It will be nice to be able to start a request from here. It will take the admin to the generate request page with provider already populated</li>
	</ul>
</p>
