#application {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    background-color: #F7F7FF;
    grid-template-areas:
        "header"
        "main"
        "footer";

    .application-layout__header {
        grid-area: header;
        background-color: white;
    }

    .application-layout__main {
        grid-area: main;
    }

    .application-layout__footer {
        grid-area: footer;
    }

}