.panel {
    background-color: white;
    padding: 1rem;
    margin-bottom: 1rem;
}

.panel--large {
    max-width: 40rem;
}

.panel--medium {
    max-width: 30rem;
}

.panel--small {
    max-width: 20rem;
}

.panel__body--fixed {
    overflow: scroll;
    height: 20rem;
}

.panel__header {
    display: flex;
    padding-bottom: 1rem;
    text-transform: capitalize;
    font-weight: 600;

}