<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Care First</h3>
    </div>

    <ul class="list-unstyled components">
        <p>Welcome, {{username}}</p>
        <li>
            {{#link-to 'protected.bookings'}}Bookings{{/link-to}}
        </li>
        <li>
            <a href="">Requests</a>
        </li>
        <li>
            <a href="">History</a>
        </li>
        <li>
            <a href="">Profile</a>
        </li>
        <li>
            <a href="">Invoices</a>
        </li>
        <li>
            <a href="">Schedules</a>
        </li>

    </ul>

    <ul class="list-unstyled CTAs">

        <li>
            {{#if authenticated}}
            <a href="#" class="login" {{action 'logout'}}>Log Out</a>
            {{else}} {{#link-to 'login' class="login"}}Login{{/link-to}} {{/if}}
        </li>
        <li>
            <a href="#" class="article">Help</a>
        </li>
        <li>
            <a href="#">About Us</a>
        </li>
    </ul>
</nav>