<div id="application">
    {{page-header class="application-layout__header"}}

    <div class="application-layout__main">
        {{outlet}}
    </div>

    {{page-footer class="application-layout__footer"}}
</div>