<container>
<section class=header>
	<h1 class=company-name>Care First</h1>
	<h3 class=slogan>Connection Patients and Providers</h3>
	<a class="button button-primary" href="https://github.com/dhg/Skeleton/releases/download/2.0.4/Skeleton-2.0.4.zip" onclick="_gaq.push(['_trackEvent', 'skeleton', 'download'])">Download</a>
</section>
</container>
