<container>
<section class=header>
	<h1 align=center>Care First</h1>
	<h4 align=center>Connecting Patients and Providers</h4>
</section>
<section>
	<h5>Register your company</h5>
	<h6>Register as a company if you manage health care providers and patients. If you want to register as an indivual provider click {{#link-to "register"}}here{{/link-to}}.
	</h6>
<form>
	<div class="twelve columns">
      <label for="companyName">Company Name</label>
      <input class="u-full-width" type="text" placeholder="Your Company LLC" id="companyName">
    </div>
  	<div class="row">
    	<div class="four columns">
     	 <label for="emailInput">Email</label>
     	 <input class="u-full-width" type="email" placeholder="test@mailbox.com" id="emailInput">
    	</div>
    	<div class="four columns">
      		<label for="pswdInput">Desired Password</label>
      		<input class="u-full-width" type="password" placeholder="strongPassword" id="pswdInput">
    	</div>
    	<div class="four columns">
      		<label for="pswdReInput">Re-enter Password</label>
      		<input class="u-full-width" type="password" placeholder="strongPassword" id="pswdReInput">
    	</div>
    </div>
    <section>
    	<h5>Contact Info</h5>
    	<div class="row">
    		<div class="four columns">
     	 		<label for="nameInput">First Name</label>
     	 		<input class="u-full-width" type="text" placeholder="First Name" id="nameInput">
    		</div>
    		<div class="four columns">
     	 		<label for="lastNameInput">Last Name</label>
     	 		<input class="u-full-width" type="text" placeholder="Last Name" id="lastNameInput">
    		</div>
    		<div class="four columns">
     	 		<label for="phoneInput">Phone #</label>
     	 		<input class="u-full-width" type="phone" placeholder="Phone Number" id="phoneInput">
    		</div>
    	</div>
    </section>
  <input class="button-primary" type="submit" value="Submit">
</form>
</section>
</container>
